* {
  font-family: Arial, Helvetica, sans-serif;
  color: #48487a;
}

.container {
  width: 800px;
  background-color: #dcdce8;
  padding: 20px;
  text-align: center;
}

.row {
  display: flex;
  padding: 20px;
  margin: 20px 0px;
}

.bg-skyBlue {
  background-color: #58c4f3;
}

.bg-pink {
  background-color: #d8a3c8;
}

.bg-white {
  background-color: white;
}

.flex-between {
  justify-content:space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-evenly {
  justify-content: space-evenly;
}


