* {
    font-family: sans-serif;
}

.header {
  background-color: black;
}

h1 {
  color: white ;
  display: inline;
}

p {
  color: #00ffff;
  display: inline;
}

h2 {
  background-color: #663399;
  color: white;
  text-align: center;
  font-style: italic;
  margin: 5px 0px;
}

.footer {
  background-color: #a0c5e8;
  text-align: end;
  padding: 5px 0px;
}

a {
  color: black;
}
